@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
    
}
body{
    background-image: url(background.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
#page{
    background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 50px;
  width: 1300px; 
  height: 900px;
  margin:0 auto;

}
.header{
    font-family:20px;
}
#conteudo1{
    
    font-size:100px;
    text-shadow:black;
    text-shadow: black 0.1em 0.1em 0.2em;

    
}
#conteudo2{
    padding: 0;
    font-size:30px
}
.cabecalho-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 32px;

}
#botao{
    cursor: pointer;
    width:120px;  
    height:40px;	
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #692764;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    font-size:16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623)
}

.conteudo{
    display: flex;
    justify-content: space-between;
}
.conteudo-texto{
    align-items: left;
}
.conteudo-imagem{
 right: 370px;
 padding: 0 auto;
 margin-top: 0;
 position:absolute;
 top:120px;
 
    
}
img{
    width: 600px;
    height: 700px;
    
}
